# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so*
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
Makefile.*
*-build-*
ui_*
object_*
engine/src/qlcconfig.h

# Binaries
*.exe
*_test
main/qlc
fixtureeditor/qlc-fixtureeditor
hotplugmonitor/test/test
*.qm
