# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so*
*.dll
*.dylib
*.dmg
.DS_Store

# Qt-es

.qmake.stash
.qtc_clangd
.qt/
*.pro.user
*.pro.user.*
*.qrc.depends
moc_*.cpp
qrc_*.cpp
Makefile
Makefile.*
*-build-*
ui_*
object_*
*_autogen/
engine/src/qlcconfig.h
*.swp
*.qmlc
moc_predefs.h

# Binaries
*.exe
*_test
main/qlcplus
fixtureeditor/qlcplus-fixtureeditor
launcher/qlcplus-launcher
hotplugmonitor/test/test
qmlui/qlcplus-qml
*.qm
core

# coverage
coverage/
*.gcda
*.gcno

# Development IDEs
.vscode/

# CMake build
CMakeLists.txt.user
build*
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
/install/
