[Desktop Entry]
Type=Application
Name=QLC Fixture Editor
GenericName=Edit fixtures
GenericName[de]=Gerätedefinitionen bearbeiten
GenericName[fi]=Muokkaa valaisimia
GenericName[fr]=Edition des Projecteurs
Exec=qlc-fixtureeditor --open %f
Icon=qlc-fixtureeditor
MimeType=application/x-qlc-fixture;
Categories=Lighting;Art;Qt;AudioVideo;
