[Desktop Entry]
Type=Application
Name=Q Light Controller Plus
GenericName=Lighting control
GenericName[de]=Lichtsteuerung
GenericName[fi]=Valojen ohjaus
GenericName[fr]=Controlleur d'éclairages
GenericName[it]=Controllore di luci
Exec=qlcplus --open %f
Icon=qlcplus
MimeType=application/x-qlc-workspace;
Categories=Qt;AudioVideo;
