.controlBar {
 width: 100%;
 height: 40px;
 background: linear-gradient(to bottom, #B2D360 0%, #4B9002 100%);
 background: -ms-linear-gradient(top, #B2D360 0%, #4B9002 100%);
 background: -moz-linear-gradient(top, #B2D360 0%, #4B9002 100%);
 background: -o-linear-gradient(top, #B2D360 0%, #4B9002 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B2D360), color-stop(1, #4B9002));
 background: -webkit-linear-gradient(top, #B2D360 0%, #4B9002 100%);
 font:bold 24px/1.2em sans-serif;
 color: #ffffff;
}

.button
{
 height: 35px;
 margin-left: 5px;
 text-decoration: none;
 font: bold 25px/1.2em 'Trebuchet MS',Arial, Helvetica;
 display: inline-block;
 text-align: center;
 color: #fff;
 border: 1px solid #333;
}

.button, .button span  {
 -moz-border-radius: .3em;
 border-radius: .3em;
}

.button span {
 display: block;
 padding: 0 10px 0 10px;
}

.button:hover {
 box-shadow: 0 0 .1em rgba(0,0,0,0.4);
 -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
 -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}

.button:active {
 position: relative;
 top: 1px;
}

.button-blue {
 background: #4477a1;
 background: -webkit-gradient(linear, left top, left bottom, from(#81a8cb), to(#4477a1) );
 background: -moz-linear-gradient(-90deg, #81a8cb, #4477a1);
}

.button-blue:hover {
 background: #81a8cb;
 background: -webkit-gradient(linear, left top, left bottom, from(#4477a1), to(#81a8cb) );
 background: -moz-linear-gradient(-90deg, #4477a1, #81a8cb);
}

.button-blue:active { background: #4477a1; }

.swInfo {
 position: absolute;
 right: 5px;
 top: 5px;
 font-size: 18px;
}

table.hovertable {
 font-family: verdana,arial,sans-serif;
 font-size:11px;
 color:#333333;
 border-width: 1px;
 border-color: #999999;
 border-collapse: collapse;
}

table.hovertable th {
 background-color:#DCD9D6;
 border-width: 1px;
 padding: 3px;
 border-style: solid;
 border-color: #a9c6c9;
}

table.hovertable tr {
 background-color:#ffffff;
}

table.hovertable td {
 border-width: 1px;
 padding: 3px;
 border-style: solid;
 border-color: #a9c6c9;
}
