#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh  $@ --parallel

override_dh_auto_configure:
	./translate.sh
	dh_auto_configure --
	# Use this to build QLC+ v5 with the QML UI:
	#dh_auto_configure -- CONFIG+=qmlui

override_dh_shlibdeps:
	dh_shlibdeps -Xlibmadplugin.so -Xlibsndfileplugin.so -Xlibolaio.so

override_dh_install:
	dh_install
