# These rules should work on newer udev architecture as well as the older one.
# Basically they watch for all "usb" subsystem add/change events, that occur
# for devices with VID==0403 and PID==6001 (meaning FTDI-based devices), and
# set their device nodes' permissions so that ALL users can read and write to
# them. The devices nodes are found under /dev/bus/usb/xxx/yyy.
SUBSYSTEM=="usb*", ACTION=="add|change", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="0666"
SUBSYSTEM=="usb*", ACTION=="add|change", SYSFS{idVendor}=="0403", SYSFS{idProduct}=="6001", MODE="0666"
