* { font-family:Arial; }

pre
{
  font-family: Courier;
}

.qlcTable
{
  margin: 0px;
  padding: 0px;
  border: 0px solid #000000;
  border-spacing: 0px;
}

.qlcTable table
{
  width: 100%;
  height: 100%;
}

.qlcTable tr
{
    margin: 0px;
    padding: 0px;
}

.qlcTable td
{
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: left;
  padding: 5px;
  margin: 0px;
  font-family: Arial;
  color: #000000;
}

